<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    
    
<!--    <context-param>
        <description>
            State saving method: "client" or "server" (= default) See
            JSF Specification 2.5.2
        </description>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
    

    
    <context-param>  
        <param-name>org.apache.myfaces.NUMBER_OF_VIEWS_IN_SESSION</param-name>
        <param-value>40</param-value>   
    </context-param> 
    
    <context-param>  
        <param-name>com.sun.faces.disableVersionTracking</param-name>  
        <param-value>true</param-value>  
    </context-param> 
    
    <context-param>
        <param-name>com.sun.faces.writeStateAtFormEnd</param-name>
        <param-value>false</param-value>
    </context-param>     
    
    
    <context-param>
        <param-name>com.sun.faces.enableRestoreView11Compatibility</param-name> 
        <param-value>true</param-value>
    </context-param>-->
    
    
    <context-param>
        <param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
        <param-value>6LdyPecSAAAAAHPXmTNALdXpgsQBkVLfGzJcZMiB</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
        <param-value>6LdyPecSAAAAAPt3jk6CS4Uv6y-ddK9pLySpaS-X</param-value>
    </context-param>
    
    
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
    
    
    
    <!--Filtro para filtrar requisicoes se for ajax e sessao expirou redireciona para pagina de login-->
    <filter>
        <filter-name>FiltroRequisicoes</filter-name>
        <filter-class>Filtros.FiltroRequisicoes</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroRequisicoes</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    
    <!-- Início das configurações para o Spring Security 3 -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>            
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>    
    <!-- Fim das configuração para utilizar o Spring Security 3 -->  
    
                 
   <!-- Inicio da configuração do agendador de tarefas que bloqueia os usuarios usando o quartz-->    
   <listener>
        <description>Listener para bloquear todos os dias os usuários que adiquirirem tickets e não forem ao refeitório dar baixa na sua refeição.</description>
        <listener-class>Escalonador.ListenerBloqueiaUsuario</listener-class>
    </listener>                          
   <!-- Fim da configuração do agendador de tarefas que bloqueia os usuarios usando o quartz-->    
                                                        
        
</web-app>
